<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/app.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  <input hidden name="background-img" value="{{ session['background_img'] }}">

  <nav>
    <a href="/" class="label">Parktrippers</a>
    <div class="nav-links">
      {% if g.user %}
      <a href="/add-visit">Add visit</a>
      <a href="/{{g.user.username}}">Profile</a>
      <a href="/logout">Logout</a>
      {% else %}
      <a href="/signup">Sign up </a>
      <a href="/login">Login</a>
      {% endif %}
    </div>
  </nav>

  {% block content %}

  <h1 class="activity-type">Base</h1>
  {% endblock %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js"></script>
  <script src="/static/app.js"></script>
  <script src="/static/update-visit.js"></script>
  <script src="/static/add-visit.js"></script>
</body>

</html>