{% extends 'base.html' %}


{% block content %}
<section class="add-visit">
  <div class="search-container">
    <p>I'm going to <input list="park-list" name="park-list" autocomplete="off" placeholder=" Search for a park..."
        id="search-park"><datalist id="park-list">
      </datalist> from <input id="start-date" type="date" />
      to
      <input id="end-date" type="date" /> <button id="search-activities">Search activities</button>
    <p class="validation"></p>
    </p>

  </div>

  <div class="activities-container">
    <div class="available-activities">

    </div>
    <div class="selected-activities hide">
      <h3>Selected activities</h3>
      <p><i>Click on activities to add them to your visit!</i></p>
      <ul></ul>

      <form id="add-visit">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <button type="submit">Add visit</button>
      </form>


    </div>
  </div>
</section>
{% endblock %}