{% extends 'base.html' %}


{% block content %}


<section>
  <div class="auth-container">
    <h2>Sign up.</h2>
    <form method="POST" id="user_form">
      {{ form.hidden_tag() }}
      {{ form.csrf_token }}
      {% for field in form if field.widget.input_type != 'hidden' %}
      {% for error in field.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %}
      {{ field(placeholder=field.label.text, class="form-control") }}
      {% endfor %}

      <button>Sign up</button>
    </form>
  </div>
</section>

{% endblock %}